<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>在线要饭</title>
  <style>
    body{
      margin: 0;
      background: #efefef;
    }
    #box{
      text-align: center;
    }
  </style>
</head>
<body>
<div id="box">
  <img src="/images/index.png" alt="" >
  <p style="margin-top:40px;color: #999999">©Copyright 2020-2080 by {{ title }} .All rights reserved.</p>
</div>
</body>
</html>
